<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./semantic/semantic.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js">

    </script>
    <script src="semantic/semantic.js">

    </script>
    <script src="./vue.js">

    </script>
    <script src="  https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.2/showdown.min.js">

    </script>
  </head>
  <body>
    <div class="ui container">
      <div class="ui grid" id="main-grid">

        <div class="twelve wide column" id="operate-app">

          <div class="ui blue top attached trans segment" v-if="false">
            <div class="ui secondary pointing menu">
              <a class="active item">城镇</a>
              <a class="item">狩猎场</a>
              <a class="item">挑战区</a>
              <a class="item">BOSS</a>
            </div>
            <table class="ui celled padded inverted trans0 table">
              <thead>
                <tr><th class="single line">成就评分</th>
                <th>成就</th>
                <th>完成情况</th>
                <th>描述</th>
              </tr></thead>
              <tbody>
                <tr>
                  <td>
                    <h2 class="ui center aligned header">A</h2>
                  </td>
                  <td class="single line">
                    Power Output
                  </td>

                  <td class="right aligned">
                    80% <br>
                    <a href="#">18 studies</a>
                  </td>
                  <td>Creatine supplementation is the reference compound for increasing muscular creatine levels; there is variability in this increase, however, with some nonresponders.</td>
                </tr>
                <tr>
                  <td>
                    <h2 class="ui center aligned header">A</h2>
                  </td>
                  <td class="single line">
                    Weight
                  </td>

                  <td class="right aligned">
                    100% <br>
                    <a href="#">65 studies</a>
                  </td>
                  <td>Creatine is the reference compound for power improvement, with numbers from one meta-analysis to assess potency</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ui blue top attached trans segment" v-if="locations[0].style.active">
            <div class="ui grid">
              <div class="six wide column" style="background-color:rgba(9, 97, 214, 0.18);color:rgba(255, 255, 255, 0.72)">
                <div class="ui header">第一层：闪金镇</div>
                cdscsd  c s c sdc
                <div class="ui trans0 card">
                  <div class="image">
                    <img src="images/city1.jpg" alt="">
                  </div>

                </div>
                <div class="content">
                  在闪金镇，有一个诡异的房间，楼下住着教导剥皮的训练师，是2个女人，而他们的男人失踪了，被质疑为那个女人杀了她的丈夫并把尸体藏在了柜子下面。在女人房间的楼上，正是5个暴风城的孩子，而这5个孩子所在的房间内有着诡异的音乐！与其他孩子不同，他们不会四处打闹，他们始终盯着墙看，仿佛发现了什么我们看不见的东西。他们站成了五芒星的阵形，随着时间不同，他们站的位置不同，并且最终消失在墙里！
                </div>
                <div class="ui divider">

                </div>
                <div class="extra content">
                  <button class="ui inverted green button" type="button" name="button">前往闪金镇</button>
                </div>
              </div>
              <div class="ten wide column">
                <div class="ui red inverted segment">
                  第三层: 铁炉堡
                </div>
                <div class="ui orange inverted segment">
                  第二层: 暴风城
                </div>
                <div class="ui yellow inverted segment">
                  第一层: 闪金镇
                </div>
              </div>
            </div>
          </div>
          <div class="ui blue top attached trans segment" v-if="locations[1].style.active">
            <div class="ui grid" v-if="townOverview">
              <div class="eight wide column" v-for="(district,i) in town">
                <div class="ui trans0 card" style="margin:auto">
                  <div class="image">
                    <img :src="district.cover" alt="">
                  </div>
                  <div class="content">
                    <h3 class="ui header">{{district.name}}</h3>
                    <!-- <div class="meta"> -->
                      {{district.content}}
                    <!-- </div> -->

                  </div>
                  <div class="extra content">
                    <button class="ui green inverted button" type="button" name="button" @click="gotoSubtown(i)">前往{{district.name}}</button>
                  </div>
                </div>
              </div>

            </div>
            <div class="ui grid" v-if="town[0].active">
              This is {{town[0].name}}
              <button class="ui inverted red button" type="button" name="button" @click="leaveSubtown()">Leave</button>
            </div>
            <div class="ui grid" v-if="town[1].active">
              <div class="ui trans0 segment" id="problem">
### 星系分类（boss类题目）
[Galaxy Zoo - The Galaxy Challenge](https://www.kaggle.com/c/galaxy-zoo-the-galaxy-challenge)
#### 题目描述
Understanding how and why we are here is one of the fundamental questions for the human race. Part of the answer to this question lies in the origins of galaxies, such as our own Milky Way. Yet questions remain about how the Milky Way (or any of the other ~100 billion galaxies in our Universe) was formed and has evolved. Galaxies come in all shapes, sizes and colors: from beautiful spirals to huge ellipticals. Understanding the distribution, location and types of galaxies as a function of shape, size, and color are critical pieces for solving this puzzle.

![Galaxy](http://upload.wikimedia.org/wikipedia/commons/7/74/Ngc5194.jpg)

The Whirlpool Galaxy (M51). Credit: NASA and European Space Agency

With each passing day telescopes around and above the Earth capture more and more images of distant galaxies. As better and bigger telescopes continue to collect these images, the datasets begin to explode in size. In order to better understand how the different shapes (or morphologies) of galaxies relate to the physics that create them, such images need to be sorted and classified. Kaggle has teamed up with Galaxy Zoo and Winton Capital to produce the Galaxy Challenge, where participants will help classify galaxies into categories.

![Main Image](https://kaggle2.blob.core.windows.net/competitions/kaggle/3175/media/mainimage.jpg)

Image Credit: ESA/Hubble & NASA

Galaxies in this set have already been classified once through the help of hundreds of thousands of volunteers, who collectively classified the shapes of these images by eye in a successful citizen science crowdsourcing project. However, this approach becomes less feasible as data sets grow to contain of hundreds of millions (or even billions) of galaxies. That's where you come in.

This competition asks you to analyze the JPG images of galaxies to find automated metrics that reproduce the probability distributions derived from human classifications. For each galaxy, determine the probability that it belongs in a particular class. Can you write an algorithm that behaves as well as the crowd does?

#### 题解
Winning solution for the Galaxy Challenge on Kaggle: [benanne/kaggle-galaxies](https://github.com/benanne/kaggle-galaxies)
              </div>
              <div class="ui trans0 segment">
                <form style="display:none" action="index.html" method="post" enctype="multipart/form-data">
                  <input type="file" name="" value="" ref="chooseFile">
                  <button type="submit" ref="submitFile" name="button"></button>
                </form>
                <div class="ui buttons">
                  <button class="ui inverted green button" type="button" @click="fileHandler">{{fileButtonName}}</button>
                  <button class="ui inverted red button" type="button" @click="leaveSubtown">逃跑</button>
                </div>
              </div>

            </div>
            <div class="ui basic segment" v-if="town[2].active">
              <div class="ui trans0 segment">
                Problem1<br>
                1+1=?
              </div>
              <div class="ui trans0 segment">
                <form class="ui form" action="index.html" method="post">
                  <div class="field">
                    <label>Input you answer.</label>
                    <input type="text" class="trans-input" name="" value="">
                  </div>
                  <div class="ui buttons">
                    <button type="button" class="ui green inverted button" name="button">Submit</button>
                    <button type="button" class="ui red inverted button" name="button" @click="leaveSubtown">Leave</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="ui segment" v-if="town[3].active">
              <div class="ui divided items">
                <div class="item">
                  <div class="image">
                    <img src="http://www.semantic-ui.cn/images/wireframe/image.png">
                  </div>
                  <div class="content">
                    <a class="header">12 Years a Slave</a>
                    <div class="meta">
                      <span class="cinema">Union Square 14</span>
                    </div>
                    <div class="description">
                      <p></p>
                    </div>
                    <div class="extra">
                      <div class="ui label">IMAX</div>
                      <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="image">
                    <img src="http://www.semantic-ui.cn/images/wireframe/image.png">
                  </div>
                  <div class="content">
                    <a class="header">My Neighbor Totoro</a>
                    <div class="meta">
                      <span class="cinema">IFC Cinema</span>
                    </div>
                    <div class="description">
                      <p></p>
                    </div>
                    <div class="extra">
                      <div class="ui right floated primary button">Buy tickets <i class="right chevron icon"></i> </div>
                      <div class="ui label">Limited</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="image">
                    <img src="http://www.semantic-ui.cn/images/wireframe/image.png">
                  </div>
                  <div class="content">
                    <a class="header">Watchmen</a>
                    <div class="meta">
                      <span class="cinema">IFC</span>
                    </div>
                    <div class="description">
                      <p></p>
                    </div>
                    <div class="extra">
                      <div class="ui right floated primary button">Buy tickets <i class="right chevron icon"></i> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui inverted bottom attached tabular trans menu">
            <a v-for="(loc,i) in locations" class="item" :class="loc.style" @click="gotoLocation(i)">
              {{loc.name}}
            </a>

          </div>
        </div>
        <div class="four wide column" id="info-app">
          <div class="ui blue trans segment">
            <h3 class="ui header">Phantom Tiger</h3>
            <div class="ui circular image" id="user-image">
              <img :src="user.image" alt="">
            </div>
            <div class="ui trans0 inverted segment">
              <div class="ui yellow inverted small progress" id="experience">
                <div class="bar">
                  <div class="progress"></div>
                </div>
                <div class="label">{{user.exp}}</div>
              </div>
              <h3 class="ui inverted header">{{user.name}}</h3>
              <div class="description">
                <i class="selected yellow radio icon"></i>{{user.money}}
                <i class="selected orange idea icon"></i>{{user.solved}}
              </div>

            </div>
            <div class="ui trans0 inverted vertical pointing menu">
              <a class="active item">成就</a>
              <a class="item">装备</a>
              <a class="item">公会</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $('#experience').progress({percent: 72});
      var converter = new showdown.Converter(),
      text = $("#problem").text(),
      html = converter.makeHtml(text);
      $("#problem").html(html);
    </script>
    <script src="main.js">

    </script>
  </body>
</html>
